body {
    background-color: #1d1f21;
    
    color: #2bbc8a;
    text-align: center;
    font-family: 'Oxygen Mono', monospace;
    font-size: 0.7em;
    margin-top: 200px;
}
h1 {
    line-height: 1em;
    margin-bottom: 0;
    padding-bottom: 5px;
    font-size: 2.8em;
    font-weight: bold;
}
h2 {
    font-size: 1.3em;
    font-weight: bold;
    padding: 0;
    margin: 0;

}
h3 {
    font-size: 1.1em;
    
    padding: 0;
    margin: 10px 0 2px 0;
}
table {
    margin: 2% auto;
    border-collapse: collapse;
}
#table_game {
    position: relative;
    font-size: 120px;
    margin: 1% auto;
    border-collapse: collapse;
}
.td_game {
    border: 2px solid rgb(230, 230, 230);
    width: 90px;
    height: 90px;
    padding: 0;
    vertical-align: middle;
    text-align: center;
}
.fixed {
    width: 90px;
    height: 90px;
    line-height: 90px;
    display: block;
    overflow: hidden;
    cursor: pointer;
}
.td_list {
    text-align: center;
    font-size: 1.3em;
    font-weight: bold;
}
.th_list {
    font-size: 1.3em;
    font-weight: bold;
    text-align: center;
    padding-top: 100px;
}
#restart {
    font-size: 3em;
    width: 1em;
    height: 0.9em;
    cursor: pointer;
    margin: 0 auto;
    overflow: hidden;
}
.x {
    color: #2bbc8a7f;;
    position: relative;
    top: -8px;
    font-size: 110px;
    cursor: default;
    
}
.o {
    color: #2bbc8a7f;;
    position: relative;
    top: -7px;
    font-size: 110px;
    cursor: default;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; 
    background-color: black;
    background-color: rgba(0, 0, 0, 0.6);
}

.modal-content {
    background-color: grey;
    color: rgb(32, 32, 32);
    font-size: 2em;
    font-weight: bold;
    margin: 16% auto;
    padding: 20px;
    border: 2px solid black;
    border-radius: 10px;
    width: 380px;
    max-width: 80%;
}
.modal-content p {
    margin: 0;
    padding: 0;
}

.close {
    color: rgb(100, 89, 89);
    float: right;
    position: relative;
    top: -25px;
    right: -10px;
    font-size: 34px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.win-color {
    background-color: rgb(49, 44, 44);
}
#okbtn{
    
    font-size: 1.2em;
    font-family: 'Oxygen Mono', monospace;
    width: 100%;
    cursor: pointer;
    background-color: #666666;
    border: 1px solid black;
    transition: 0.2s ease-in-out;
}
#okbtn:hover{
    background-color: 1d1f21;
    color:#666666;
}
